.popup_event-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000;
    margin: 32px auto 0;
}

@media screen and (max-width: 536px) {
    .popup__title {
        max-width: 238px;
        font-size: 18px;
    }
}