.header__button-link {
    margin-left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header__button-link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .header__link-button {
        font-size: 14px;
        line-height: 17px;
    }
}