.auth__input {
    width: 100%;
    padding: 0 0 10px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid #fff;
    opacity: 1;
}
.auth__input:focus,
.auth__input:active {
    outline: none;
}

.auth__input::placeholder {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ccc;
    opacity: 1;
  }